<!--   <customer-dropdown [customerId]="customerId"></customer-dropdown> -->
<div class="poppaDiv">
  <div class="container row">
    <h2 [routerLink]="['/home']">Ding Dong: It's Cut Time</h2>
    <div class="container-fluid miniContainer">
      <nav class="navbar navbar-default superNav">
        <ul class="nav nav-pills">
          <li class="title">
            <h4>Welcome {{ currentCustomer }}.  Where are you located?</h4>
          </li>
          <li class="formElement">
            <form class="navbar-form navbar-left">
              <div class="form-group">
                <input
                  class="form-control"
                  placeholder="street address"
                  #streetAddress
                  (change)="handleStreetAddressChange(streetAddress.value)"
                >
              </div>
              <button class="btn btn-default" (click)="showDropDown()">{{currentCustomer}}</button>
            </form>
          </li>
          <li class="liDropdown">
            <div class="dropdown">
              <span class="caret">Username</span>
                <div class="dropdown-content">
                  <p>Hello World</p>
                </div>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>


  <!-- public onSelect(item) {
    this.selected = item;
    switch (this.selected){
      case "Home":
        this.router.navigate(["/home"]);
        break;
      case "Messages":
        console.log('router', this.router)
        this.router.navigate(["/messages"]);
        break;
      case "Settings":
        this.router.navigate(["/customerProfile", this.customerId]);
        break;
      case "Logout":
        this.router.navigate(["/login"]);
        break;
    }
  } -->