.poppaDiv {
  height: 25vh;
  width: 90%;
  display: flex;
  /*flex-wrap: wrap;*/
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 3em;
  border: 2px solid;
}

h1 {
  text-shadow: 3px 3px 1px rgba(173, 216, 230, 0.9);
  width: 100%;
  flex: 1 1;
  align-self: center;
}

.title {
  flex: 1 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  flex-direction: column;
  width: 100%;
}

.container-fluid,
.miniContainer {
  width: 90%;
  height: 25%;
  flex: 1 1 100%;
  border: 2px solid blue;
}

.superNav {
  width: 100%;
  box-shadow: 5px 5px 3px rgba(173, 216, 230, 0.9);
}

.unorderedList {
  display: flex;
  justify-content: center;
  align-items: center;
}

li,
.customer {
  width: 40%;
}

li,
.formElement {
  width: 49%;
}

.form-control {
  width: 40ch;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 10%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 25ch;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 0ch 3ch 0ch 0ch;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdownUl * {
  list-style-type: none;
  width: 100%;
  box-shadow: 3px 3px 1px rgba(173, 216, 230, 0.9);
}

.dropdownUl *:hover {
  list-style-type: none;
  color: rgba(173, 216, 230, 0.9);
}