<div class="poppaDiv">
  <div class="miniContainer">
    <div class="title">
      <div>
        <h1>It's Cut Time</h1>
      </div>
    </div>

    <nav class="superNav">
      <ul class="unorderedList">
        <li class="customerContainer">
          <h4>Welcome {{ currentCustomer }}, where are you located?</h4>
        </li>
        <li class="search">
          <form class="superForm">
            <div>
              <input
                placeholder="Enter your location"
                typer="search"
                #streetAddress
                (ngModelChange)="locationChange.emit(streetAddress)"
              >
              <span>
                <button class="btn btn-default" (click)="handleSearchLocationChange(streetAddress.value)">Search</button>
              </span>
            </div>
          </form>
        </li>
        <li class="dropdownList">
          <div class="dropdown">
            <span class="caret"><h4>Username</h4></span>
              <div class="dropdown-content">
                <ul class="dropdownUl">
                  <li [routerLink]="['/home']"><h4>Home</h4></li>
                  <li [routerLink]="['/messages']"><h4>Messages</h4></li>
                  <li [routerLink]="['/customerProfile', customerId]"><h4>Settings</h4></li>
                  <li [routerLink]="['/login']"><h4>Logout</h4></li>
                </ul>
              </div>
          </div>
        </li>
      </ul>
    </nav>

  </div>
</div>
