.poppaDiv {
  border-bottom: 2px solid;
  height: 10vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.container-fluid,
.miniContainer {
  /*border: 2px solid red;*/
  width: 100%;
  height: 25%;
}

.superNav {
/*  border: 2px solid;*/
  width: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}