<customer-navbar></customer-navbar>
<div class="wrapper">
  <div class="booking-container"
    *ngIf="stylistProfile.confirmedBookings.length === 0 && stylistProfile.pendingBookings.length === 0"
  >
    <span>No bookings...yet!</span>
  </div>
  <div class="booking-container" *ngFor="let booking of stylistProfile.confirmedBookings; let i = index;">
    <booking
      [name]="booking.name"
      [image_url]="booking.image_url"
      [time]="booking.time"
      [phoneNumber]="booking.phoneumber"
      [location]="booking.location"
    >
    </booking>
  </div>
  <div class="booking-container" *ngFor="let booking of stylistProfile.pendingBookings; let i = index;">
    <booking
      [name]="booking.name"
      [image_url]="booking.image_url"
      [time]="booking.time"
      [phoneNumber]="booking.phoneumber"
      [location]="booking.location"
      [isPending]="true"
    >
    </booking>
  </div>
  <div *ngIf="!!isMapViewInit" class="map-container">
    <stylist-map class="map"
      [lat]="stylistProfile.currentLocation.lat"
      [lng]="stylistProfile.currentLocation.lng"
      [markers]="stylistProfile.markers"
    ></stylist-map>
  </div>
</div>