<customer-navbar></customer-navbar>
<div class="wrapper">
  <div *ngIf="!!bookings && bookings.length===0">
    <h1>No bookings... yet!</h1>
  </div>
  <div class="booking-container" *ngFor="let booking of bookings; let i = index;">
    <booking
      [bookingInformation]="booking"
      (confirmBooking)="confirmBooking($event, i)"
      (deleteBooking)="deleteBooking($event, i)"
      (completeBooking)="completeBooking($event, i)"
    ></booking>
  </div>
  <div class="map-container">
    <stylist-map class="map"
      [stylistId]="stylistProfile.id"
      [stylistLocation]="stylistProfile.billingaddress"
    >
    </stylist-map>
  </div>
</div>
