<customer-navbar></customer-navbar>
<div class="wrapper">
  <div class="booking-container" *ngFor="let booking of bookings; let i = index;">
    <booking
      [bookingInformation]="booking"
      (confirmBooking)="confirmBooking($event, i)"
      (deleteBooking)="deleteBooking($event, i)"
      (completeBooking)="completeBooking($event, i)"
    ></booking>
  </div>
  <div *ngIf="!!isMapViewInit" class="map-container">
    <stylist-map class="map"
      [lat]="stylistProfile.currentLocation.lat"
      [lng]="stylistProfile.currentLocation.lng"
      [markers]="stylistProfile.markers"
    ></stylist-map>
  </div>
</div>
