.wrapper {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 1em;
}

.profileContainer {
  flex: 1 1 50%;
}

.buttonContainer {
  flex: 1 1 50%;
}

.profileContainer {
  display: flex;
}

.photoContainer {
  height: 100%;
  width: 20%;
  border: 1px solid;
  display: flex;
  justify-content: flex-start;
}

.infoContainer {
  height: 100%;
  width: 80%;
  margin-left: 1em;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.buttonContainer > * {
  background-color: #F9B71A;
  color: #ffffff;
  height: 50%;
  width: 25%;
  align-self: flex-end;
  margin-bottom: 1em;
  margin-left: 1em;
  border-radius: 23px;
}