.profileContainer {
  display: flex;
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 2em;
  padding-bottom: 1em;
  border: 2px solid red;
  border-bottom: 1px solid;
}

.photoContainer {
  flex: 1 1 5%;
  height: 100%;
  width: 5%;
  /*border: 1px solid;*/
  border: 2px solid red;
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
}

.photoContainer img {
  width: 85%;
  height: 85%;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 89%;
  margin-left: 1em;
  border: 2px solid blue;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.buttonContainer > * {
  background-color: #F9B71A;
  color: #ffffff;
  height: 50%;
  width: 25%;
  align-self: flex-end;
  margin-bottom: 1em;
  margin-left: 1em;
  border-radius: 23px;
}