.profileContainer {
  display: flex;
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 2em;
  padding-bottom: 1em;
  border: 2px solid red;
  border-bottom: 1px solid;
}

.photoContainer {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #F9B71A;
  border-bottom: 1px solid black;
  flex: 1 1 50%;
  height: 50%;
  width: 95%;
  margin-bottom: 1em;
  margin-left: 1em;
}

.profileImage {
  margin-top: 2em;
  width: 70%;
  height: 65%;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 89%;
  margin-left: 1em;
  border: 2px solid blue;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.buttonContainer > * {
  background-color: #F9B71A;
  color: #ffffff;
  height: 50%;
  width: 25%;
  align-self: flex-end;
  margin-bottom: 1em;
  margin-left: 1em;
  border-radius: 23px;
  border: 1px solid #F9B71A;
}
