<form
  #stylistForm="ngForm"
  (change)="handleStylistFormChange.emit(stylistForm.value)"
>
  <div>
    Where are you servicing?
    <input
      name="serviceLocation"
      ngModel
    >
  </div>
  <div>
    Gender Male
    <input
      type="radio"
      name="gender"
      value="male"
      ngModel
    >
    Female
    <input type="radio"
      name="gender"
      value="female"
      ngModel
    >
  </div>
  <div>
    Link to personal site (Optional)
    <input
      ngModel
      name="personalUrl"
    >
  </div>
  Styling
  <div *ngFor="let style of styling; let index = index" name="style">
    <input
      name="styleType"
      type="checkbox"
      [value]="styling[index]"
      (change)="onChange(stylistForm.value, $event.target.value, index)"
    >
    <label for="style">{{style}}</label>
  </div>
</form>
