<div class="container row" style="padding-top: 20px;">
  <form
    #stylistForm="ngForm"
    (change)="handleStylistFormChange.emit(stylistForm.value)"
  >
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">
      Where are you servicing?
      </span>
      <input
        class="form-control"
        name="serviceLocation"
        ngModel
      >
    </div>
    <!-- <div class="container row">
      <span class="input-group-addon">
      Gender Male
        <input
          type="radio"
          name="gender"
          value="male"
          ngModel
        >
      Gender Female
        <input type="radio"
          name="gender"
          value="female"
          ngModel
        >
      </span>
    </div> -->
    <div>
      <span class="input-group-addon"><h3>Link to personal site (Optional)</h3></span>
      <input
        class="form-control"
        ngModel
        name="personalUrl"
      >
    </div>
    <div class="container row">
      <div class="input-group">
        <h3>Styling</h3>
        <div *ngFor="let style of styling; let index = index" name="style">
          <span class="input-group-addon">
          <input
            name="styleType"
            type="checkbox"
            [value]="styling[index]"
            (change)="onChange(stylistForm.value, $event.target.value, index)"
          >
          <label for="style">
            <h4>{{style}}</h4>
          </label>
          </span>
        </div>
      </div>
    </div>
  </form>
</div>

