
.componentWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
h1 {
  padding-bottom: 4rem;
}

.rowBody {
  display: flex;
  flex-direction: row;
}

.title {
  display: flex;
  justify-content: center;

  width: 100%;
  align-items: center;
}

.nameContainer {
  flex: 1 1 60%;
  align-items: right;
  display: flex;
  justify-content: center;
}

.spanContainer {
  flex: 1 1 40%;
  display: flex;
  justify-content: center;
}

button {
  background-color: rgba(173, 216, 230, 0.9);
  border-radius: 10px;
}