.componentWrapper {
  border: 2px solid red;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
}

.messagesContainer {
  border: 2px solid red;
  display: flex;
}

.inboxContainer {
  border: 2px solid red;
  flex: 1 1 30%;
}

.messageHist {
  display: flex;
  flex-direction: column;
  flex: 1 1 70%;
}