.componentWrapper {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h2 {
  color: #F9B71A;
}

.messagesContainer {
  display: flex;
  height: 100%;
}

.inboxContainer {
  border-right: 1px solid black;
  flex: 1 1 30%;
  height: 100%;
}

.messageHist {
  display: flex;
  flex-direction: column;
  flex: 1 1 85%;
  height: 100%;
}

.username {
  display: flex;
  justify-content: center;
  border-bottom: black;
  border: 1px solid black;
  height: 15%;
}

.chatHistoryContainer {
  height: 85%;
}