.poppadiv {
  border: 10px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 75vh;
  width: 100%;
}

.profile {
  display: flex;
  flex-wrap: wrap;
}

.profileimage {
  border-radius: 150px;
  padding-top: 10px;
}

.locationwrapper {
  flex: 1 1;
  width: 30%;
}

.servicescontainer {
  /*border: 2px solid red;*/
  flex: 1 1;
  width: 68%;
}

.personalcontainer {
  /*border: 3px solid orange;*/
  display: flex;
  width: 100%;
}


.heading {
  flex: 1 1;
}

.location {
  flex: 1 1;
}

.message {
  flex: 1 1;
}

textarea {
  width: 300px;
  height: 100px;
}

.button {
  flex: 1 1;
  align-self: right;
}

.liststyles {
  border-bottom: 2px solid black;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}

.styleitems {
  padding: 3px;
  margin: 3px;
}

.linktosite {
  border: 1px solid black;
  width: 75%;
}
/*
.link {
  flex: 1 1 50%;
  border: 2px solid red;
}
*/
.paragraph {
  overflow: scroll;
  width: 68%;
  border-top: 2px solid;
  /*border: 2px solid;*/
}

.modalWrapper {
  display: flex;
  color: black;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 1000px;
  padding-top: 20px;
  margin-top: 30px;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(173, 216, 230, 0.9);
}


.modalContent {
  border: 2px solid black;
  flex: 1 1;
  width: 50%;
  padding: 10px;
  margin: 10px;
}

.modeitem {
  padding: 10px;
  margin: 10px;
}