.poppadiv {
  border: 5px solid yellow;
  display: flex;
  flex-wrap: wrap;
}

.profile {
  border: 2px solid red;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 400px;
  border: 2px solid;
}
.heading {
  flex: 1 1;
}

.location {
  flex: 1 1;
}

.message {
  flex: 1 1;
}

textarea {
  width: 300px;
  height: 100px;
}

.button {
  flex: 1 1;
  align-self: right;
}

.servicescontainer {
  border: 2px solid red;
}

.liststyles {
  border: 2px solid green;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}

.styleitems {
  padding: 5px;
  margin: 5px;
}

.linktosite {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}