.componentWrapper {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
}

.subHeader {
  height: 18%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subHeader > * {
  margin-left: 2em;
  margin-right: 2em;
}
.buttonContainer {
  flex: 1 1 50%;
  display: flex;
  justify-content: flex-end;
}
.buttonContainer button {
  background-color: #F9B71A;
  color: #ffffff;
  border-radius: 20px;
  width: 21%;
  margin-right: 6em;
}

.profileContainer {
  height: 75%;
  display: flex;
}

.profileImage {
  margin-top: 2em;
  width: 70%;
  height: 65%;
}
.userInfoContainer {
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #F9B71A;
  border-bottom: 1px solid black;
  flex: 1 1 50%;
  height: 50%;
  width: 95%;
  margin-bottom: 1em;
  margin-left: 1em;
}

.userInfo {
  flex: 1 1 50%;
  height: 50%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  margin-left: 3em;
}

.aboutMeContainer {
  flex: 1 1 70%;
}

.aboutMeContainer > * {
  margin-left: 2em;
  margin-top: 2em;
  width: 90%;
}

.glyphicon-question-sign {
  color: #F9B71A;
  border: 1px solid #F9B71A;
  background-color: #ffffff;
}

.servicesContainer {
  display: flex;
  flex-wrap: wrap;
}

.servicesContainer > * {
  flex: 1 1 25%;
}






.paragraph {
  overflow: scroll;
  width: 100%;
  border-top: 2px solid;
}

.modalWrapper {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #ffffff;
  opacity: 75%;
  background-color: rgba(0,0,0,0.2);
}

.miniWrapper {
  background-color: #6F6F6F;
  color: white;
  margin: 15% auto;
  padding: 2em;
  border: 1px solid #979797;
  border-radius: 6px;
  width: 80%;
  display: flex;
  flex-direction: column;
  border: 2px solid red;
}

.modalHeader {
  flex: 1 1 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  color: #F9B71A;
  border: 2px solid red;
  margin-bottom: 1em;
}

.formContainer {
  flex: 1 1 100%;
  height: 90%;
  border: 2px solid red;
}

textarea {
  width: 100%;
  height: 16em;
}

.btnContainer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}