<div class="componentWrapper">
  <customer-navbar></customer-navbar>

  <div class="subHeader">
    <h3>My Profile</h3>
    <div class="buttonContainer">
      <button (click)="toggleModal()">Request a cut</button>
    </div>
  </div>

  <div class="profileContainer">
    <div class="userInfoContainer">
      <div class="imageContainer">
        <img class="profileImage" [src]=stylistProfile.image_url />
        <h3>{{stylistProfile.name}}</h3>
      </div>

      <div class="userInfo">
        <h5><span class="glyphicon glyphicon-question-sign"></span> {{ stylistProfile.billingaddress }}</h5>
        <h5><span class="glyphicon glyphicon-question-sign"></span> {{stylistProfile.site_url}}</h5>
        <h5><span class="glyphicon glyphicon-question-sign"></span> {{ stylistProfile.phonenumber }}</h5>
      </div>
    </div>
    <div class="aboutMeContainer">
      <div>
        <h4>About Me</h4>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </div>
      <div>
        <h4>Services</h4>
        <div class="styleItems" *ngFor="let style of ['hard', 'coded', 'styles']">
          <h5>{{style}}</h5>
        </div>
      </div>

    </div>
  </div>

</div>





<!-- <div class="container row modalWrapper" [style.display]="getStyle()">
  <div class="bigWrapper">
    <form
      (ngSubmit)="submitMessage(f)" #f="ngForm"
        class="container row modalContent">
      <span (click)="toggleModal()">&times;</span>
      <div class="container row miniWrapper">
        <h4>Send a message</h4>
        <div class="row location modeitem">
          Where would you like your hair cut? Enter an address.
          <input name="location" ngModel/>
        </div>
        <div class="row heading modeitem">
          Header:
          <input name="subjectHeading" placeholder="Subject Heading" ngModel/>
          <br>
          <br>
          Enter a time and date you would like your hair cut:
          <input name="time" type="date" ngModel />
          <br>
        </div>
        <div class="row message modeitem">
          <textarea name="body" ngModel>Body of the message</textarea>
          <button class="btn btn-primary" type="submit">Send</button>
        </div>
      </div>
    </form>
  </div>
</div>
 -->