<div class="container row poppadiv" (click)="hideModal()">
  <div class="container row profile" >
    <div class="container locationwrapper">
      <img [src]=stylistProfile.image_url />
      <p>Location</p>
      <div>
        Longitude: {{stylistProfile.longitude}}, Latitude: {{stylistProfile.latitude}}
      </div>
    </div>

    <div class="servicescontainer">
      <p>Services I will provide</p>
      <div class="container row liststyles">
        <div class="styleitems" *ngFor="let style of ['hard', 'coded', 'styles']">
          <h6>{{style}}</h6>
        </div>
      </div>
    </div>
        <!-- <p>Gender:</p>
          <div *ngIf="stylistProfile.gender==='male'">Male</div>
          <div *ngIf="stylistProfile.gender==='female'">Female</div> -->
    <div class="personalcontainer">
      <h5>Link to personal site:</h5>
        <div class="row linktosite">
          <a href="stylistProfile.site_url">{{stylistProfile.site_url}}</a>
        </div>
      </div>
    </div>
    <button (click)="showModal()">Request a cut</button>
  </div>

<div *ngIf="isShowModal" class="container row wrapper">
  <form #directMessage="ngForm">
    <div class="row location">
      Location: <input name="location" ngModel/>
    </div>
    <div class="row heading">
      <input name="subjectHeading" placeholder="Subject Heading" ngModel/>
      Time: <input name="time" ngModel />
    </div>
    <div class="row message">
      <textarea name="body" ngModel>Body of the message</textarea>
    </div>
    <div class=" row button">
      <button (click)="submitMessage(directMessage.value)">Send</button>
    </div>
  </form>
</div>