.poppaDiv {
  /*border: 2px solid;*/
  display: flex;
  /*justify-content: left;*/
  /*align-items: left;*/
  flex-direction: column;
  padding: 2rem 5rem;
  border-bottom: 0.05rem solid black;
}

.stylistInfo {
  margin: 0.5rem 0;
}

h4 {
  color: black;
}