
<registration-header
  [routerLink]="['/login']"
  headerText="Login Page"
  logo="insert logo url here"></registration-header>
<form (ngSubmit)="handleSignup(f)" #f="ngForm">
  <label>Username</label>
    <input
      required
      type="text"
      id="username"
      ngModel
      name="username">
  <br>
  <label>Password</label>
    <input
      required
      type="password"
      id="password"
      ngModel
      name="password">
  <br>
  <label>Email Address</label>
    <input
      required
      type="email"
      id="email"
      ngModel
      name="email">
  <br>
  <button
    type="submit"
  >Sign Up</button>
</form>