.componentWrapper {
  display: flex;
  flex-direction: column;
  background-image: url('http://cdn.wallpapersafari.com/44/5/HQjIBU.jpg');
  height: 100vh;
  color: white;
}

.header {
  height: 25%;
  padding-top: 10em;
  margin-left: 2em;
  margin-right: 2em;
  width: 83%;
  align-self: center;
}

.formWrapper {
  background: rgba(255,255,255,0.4);
  border-radius: 5px;
  align-self: center;
  width: 85%;
  height: 50%;
  margin-top: 1em;
  padding-left: 2em;
  padding-right: 2em;
}

.formItem1 {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.usernamePassword {
  display: flex;
  flex: 1 1 100%;
  width: 100%;
  height: 48%;
  align-items: center;
}

.username {
  flex: 1 1 49%;
}
.username input {
  width: 85%;
  background-color: white;
}

.password {
  flex: 1 1 49%;
}

.password input {
  width: 85%;
  background-color: white;
}

.email input {
  width: 92%;
}

.formItem2 {
  height: 52%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.formItem2 button {
  background-color: #F9B71A;
  width: 20%;
  border-radius: 20px;
  margin-right: 4em;
};
