h3 {
  flex: 1 1 100%;
}

input {
  background-color: #d3d3d3;
}

.poppaDiv {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(215deg, #A7A5C6 0%, #5D707F 100%);
  padding: 2em;
  margin: 2em;
}

.myForm {
  height: 80%;
  width: 65%;
  flex: 1 1 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0px;
}

