<div class="componentWrapper">
  <registration-header
    class="header"
    [routerLink]="['/login']"
    headerText="Login Page"
    logo="insert logo url here"></registration-header>
  <div class="formWrapper">
    <h3>Customer Signup</h3>
    <!-- <div class="formItem1"> -->
      <form class="formItem1" (ngSubmit)="handleSignup(f)" #f="ngForm">
        <div class="usernamePassword">
          <div class="username">
            <h5>Username</h5>
              <input
                required
                type="text"
                id="username"
                ngModel
                name="username">
          </div>
          <div class="password">
            <h5>Password</h5>
              <input
                required
                type="password"
                id="password"
                ngModel
                name="password">
          </div>
        </div>
        <div class="email">
          <h5>Email</h5>
            <input
              required
              type="email"
              id="email"
              ngModel
              name="email">
        </div>
        <div class="formItem2">
          <button
            type="submit"
          >Sign Up</button>
        </div>
      </form>
    <!-- </div> -->
  </div>
  <a [routerLink]="['/signupstylist']">Sign Up As a Stylist</a>
</div>