<div class="container poppaDiv">
  <registration-header
    [routerLink]="['/login']"
    headerText="Login Page"
    logo="insert logo url here"></registration-header>
  <form class="myForm" (ngSubmit)="handleSignup(f)" #f="ngForm">
    <div>
      <h3>Please Enter Your User Info</h3>
    </div>
    <label for="form-group">Username</label>
      <input
        type="text"
        id="username"
        ngModel
        name="username">
    <br>
    <label for="form-group">Password</label>
      <input
        type="password"
        id="password"
        ngModel
        name="password">
    <br>
    <label for="form-group">Email Address</label>
      <input
        type="email"
        id="email"
        ngModel
        name="email">
    <br>
    <label for="form-group">Link to Personal Site (optional)</label>
      <input
        type="url"
        id="url"
        ngModel
        name="url">
    <br>
    <label for="form-group">Please select a list of services you offer</label>
      <span class="spanContainer">
        <span *ngFor="let service of stylesPlaceHolder">
          <input
            type="checkbox"
            id="service"
            ngModel
            name="service"
          >{{ service }}
        </span>
    </span>
<!-- <div *ngFor="let stylist of stylistsCloseToYou"> -->
    <button
      class="btn btn-primary btn-group"
      type="submit"
    >Submit</button>
  </form>
</div>