.componentWrapper {
  display: flex;
  flex-direction: column;
  background-image: url('http://cdn.wallpapersafari.com/44/5/HQjIBU.jpg');
  height: 100vh;
  color: white;
}

.header {
  height: 25%;
  padding-top: 10em;
  margin-left: 2em;
  margin-right: 2em;
  width: 83%;
  align-self: center;
}

.formWrapper {
  background: rgba(255,255,255,0.4);
  border-radius: 5px;
  align-self: center;
  width: 85%;
  height: 50%;
  margin-top: 1em;
  padding-left: 2em;
  padding-right: 2em;
}
