.componentWrapper {
  display: flex;
  flex-direction: column;
  background-image: url('http://cdn.wallpapersafari.com/44/5/HQjIBU.jpg');
  height: 100vh;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.header {
  height: 25%;
  padding-top: 10em;
  margin-left: 2em;
  margin-right: 2em;
  width: 83%;
  align-self: center;
}

.formWrapper {
  background: rgba(255,255,255,0.4);
  height: 65%;
  border-radius: 5px;
  width: 83%;
  margin-top: 3em;
  padding-left: 3em;
  padding-right: 3em;
  margin-left: 5em;
  display: flex;
  flex-direction: column;
}

.myForm {
  height: 100%;
  width: 100%;
}

.usernamePassword {
  display: flex;
}

.username {
  flex: 1 1 50%;
}

.password {
  flex: 1 1 50%;
}

.username input {
  width: 85%;
}

.password input {
  width: 85%;
}

.emailWebsite {
  display: flex;
}

.email {
  flex: 1 1 50%;
}

.website {
  flex: 1 1 50%;
}

.email input {
  width: 85%;
}

.website input {
  width: 85%;
}

.billingAddress input {
  width: 92%;
}

.spanContainer {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.serviceTitle {
  width: 100%;
  height: 1%;
}

.style {
  flex: 1 1 25%;
  height: 2em;
  padding-left: .5em;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

button {
  background-color: #F9B71A;
  border-radius: 20px;
  width: 25%;
  margin-right: 4em;
}