h3 {
  flex: 1 1 100%;
}

input {
  background-color: #d3d3d3;
}

.poppaDiv {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(215deg, #f2efc7 0%, #ffeee2 100%);
  padding: 1em;
}

.myForm {
  height: 100%;
  flex: 1 1 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.spanContainer {
  padding: 2em;
  height: 25%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.spanContainer > * {
  flex: 1 1 25%;
  padding: .10em;
  display: flex;
  justify-content: center;
  align-items: center;
}