<div class="componentWrapper">
  <registration-header
    class="header"
    [routerLink]="['/login']"></registration-header>
  <div class="formWrapper">
    <h3>Please Enter Your User Info</h3>
    <form class="myForm" (ngSubmit)="handleSignup(f)" #f="ngForm">
      <div class="usernamePassword">
        <div class="username">
          <h5>Username</h5>
            <input
              required
              type="text"
              id="username"
              ngModel
              name="username">
        </div>
        <div class="password">
          <h5>Password</h5>
            <input
              required
              type="password"
              id="password"
              ngModel
              name="password">
        </div>
      </div>
      <div class="emailWebsite">
        <div class="email">
          <h5>Email Address</h5>
            <input
              required
              type="email"
              id="email"
              ngModel
              name="email">
        </div>
        <div class="website">
          <h5>Link to Personal Site (optional)</h5>
            <input
              required
              type="url"
              id="url"
              ngModel
              name="url">
        </div>
      </div>
      <div class="billingAddress">
        <h5>Billing Address</h5>
          <input
            required
            type="address"
            id="address"
            ngModel
            name="address">
      </div>
      <div class="spanContainer">
        <div class="serviceTitle">
          <h5>Types of Services</h5>
        </div>
        <div class="style" *ngFor="let service of stylesPlaceHolder">
            <p><input
              type="checkbox"
              id="service"
              ngModel
              [name]="service.id"
            >{{ service.servicename }}</p>
        </div>
      </div>
      <div class="buttonContainer">
        <button
          type="submit"
        >Submit</button>
      </div>
    </form>
  </div>
</div>