<div class="background"></div>
<customer-navbar class="nav-bar"
  [customerId]="customerProfile.id"
  [searchLocation]="searchLocation"
  (locationChange)="onSearchLocationChange($event)"
>
</customer-navbar>
<div class="container">
  <div class="stylistContainer">
    <div *ngFor="let stylist of stylistsCloseToYou">
      <close-to-you
        [stylistInformation]="stylist"
        [searchLocation]="searchLocation"
        [routerLink]="['/stylistProfile', stylist.id]"
      >
      </close-to-you>
    </div>
  </div>

  <div class="mapContainer">
    <customer-map
      class="map"
      [searchLocation]="searchLocation"
    >
    </customer-map>
  </div>
</div>

<div class="booking-due" *ngIf="!!bookingsDue">
  <div *ngFor="let booking of bookingsDue">
    <payment-input [stylistName]="booking.name"></payment-input>
  </div>
</div>

<div *ngIf="!!bookingsConfirmed">
  <div
    *ngFor="let confirmed of bookingsConfirmed; let i = index"
    class="booking-confirmed">
    <div (click)="removeConfirmedBooking(confirmed.id, i)"class="confirmed">{{confirmed.name}} confirmed</div>
  </div>
</div>