.componentWrapper {
  font-family: 'Montserrat', sans-serif;
}

.mainContainer {
  display: flex;
}

.stylistContainer {
  flex: 1 1 50%;
  margin-left: 2em;
  height: 20%;
  flex-direction: column;
}

.mapContainer {
  flex: 1 1 50%;
  height: 100%;
}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.inputContainer input {
  flex: 1 1 55%;
  border: 1px solid;
}

.inputContainer button {
  flex: 1 1 40%;
  background-color: #F9B71A;
  color: #ffffff;
  border-radius: 35px;
  margin: 2em;
}

.closestContainer {
  margin-left: 1em;
  margin-right: 1em;
}