<customer-navbar
  [customerId]="customerProfile.id"
  [searchLocation]="searchLocation"
  (locationChange)="onSearchLocationChange($event)"
></customer-navbar>
<!-- <div *ngIf="!!isProfileFetched"> -->
<div class="poppaDiv">
  <div class="stylistContainer">
    <div *ngFor="let stylist of stylistsCloseToYou">
      <close-to-you
        [stylistInformation]="stylist"
        [routerLink]="['/stylistProfile', stylist.id]"
      ></close-to-you>
    </div>
  </div>

  <div class="mapContainer">
    <customer-map
      class="map"
      [coordinates]="currentLocation"
      [searchLocation]="searchLocation"
      >
    </customer-map>
  </div>
</div>



<div *ngIf="!!bookingsDue">
  <div *ngFor="let booking of bookingsDue">
    I OWE {{booking.name}} MONEY!!!!
  </div>
</div>
<!-- </div>
 -->