.poppaDiv {
  border: 2px solid red;
  height: 100vh;
}

.contentContainer {
  border: 2px solid red;
}

.closeToYouContainer {
  border: 2px solid red;
}

.mapContainer {
  border: 2px solid red;
}

