<div class="background"></div>
<customer-navbar class="nav-bar"
  [searchLocation]="searchLocation"
  (locationChange)="onSearchLocationChange($event)"
>
</customer-navbar>
<div class="container">
  <div class="stylistContainer">
    <input
      placeholder="Enter your location"
      typer="search"
      [(ngModel)]="location"
    />
    <div *ngFor="let stylist of stylistsCloseToYou">
      <close-to-you
        [stylistInformation]="stylist"
        [searchLocation]="searchLocation"
        [routerLink]="['/stylistProfile', stylist.id]"
      >
      </close-to-you>
    </div>
  </div>

  <div class="mapContainer">
    <customer-map
      class="map"
      [searchLocation]="location"
    >
    </customer-map>
  </div>
</div>