.componentWrapper {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
}

.subHeader {
  height: 18%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subHeader > * {
  margin-left: 2em;
  margin-right: 2em;
}

.buttonContainer {
  flex: 1 1 50%;
  display: flex;
  justify-content: flex-end;
  padding-right: 3em;
}
.buttonContainer button {
  background-color: #F9B71A;
  color: #ffffff;
  border-radius: 20px;
  width: 24%;
  margin: .5em;
  height: 2.5em;
  border: 1px solid #F9B71A;
}

.profileContainer {
  height: 75%;
  display: flex;
}

.profileImage {
  margin-top: 2em;
  width: 70%;
  height: 65%;
}
.userInfoContainer {
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #b2b2b2;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #F9B71A;
  border-bottom: 1px solid #b2b2b2;
  flex: 1 1 50%;
  height: 50%;
  width: 90%;
  margin-bottom: 1em;
  margin-left: 1em;
}

.userInfo {
  flex: 1 1 50%;
  height: 50%;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  margin-left: 3em;
}

.userInfo > * {
  width: 90%;
}

.aboutMeContainer {
  flex: 1 1 70%;
}

.aboutMeContainer > * {
  margin-left: 2em;
  margin-top: 2em;
  width: 90%;
}

.glyphicon-question-sign {
  color: #F9B71A;
  border: 1px solid #F9B71A;
  background-color: #ffffff;
}

.servicesContainer {
  display: flex;
  flex-wrap: wrap;
}

.servicesContainer > * {
  flex: 1 1 25%;
}

.modalWrapper {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #ffffff;
  opacity: 75%;
  background-color: rgba(0,0,0,0.2);
}

.modalWrapper input {
  background-color: white;
  color: black;
}

.modalWrapper textarea {
  color: black;
}

/* Modal Content/Box */
.miniWrapper {
  background-color: #6F6F6F;
  color: white;
  margin: 15% auto;
  padding: 2em;
  border: 1px solid #979797;
  border-radius: 6px;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.modalHeader {
  flex:1 1 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  color: #F9B71A;
}


.formContainer {
  flex:1 1 100%;
  height: 70%;
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalUsernamePassword {
  display: flex;
  width: 100%;
  flex: 1 1;
}

.modalUsernamePassword > * {
  width: 100%;
}

.modalInput {
  width: 90%;
  background-color: white;
  font: black;
}

.modalAboutMe {
  flex: 1 1 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.modalStyles {
  flex: 1 1 25%;
}

.modalAboutMe > * {
  width: 100%;
}

.modalTextArea {
  width: 95%;
}

.modalImageContainer {
  flex: 1 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  color: white;
  border: none;
}

.modalImageContainer input {
  width: 95%;
  background-color: white;
  font: black;
}

.btnContainer {
  flex: 1 1 100%;
  height: 10%;
  width: 95%;
  display: flex;
  justify-content: flex-end;
}

.btnContainer button {
  border: 1px solid #F9B71A;
  width: 20%;
  background-color: #F9B71A;
  color: white;
  margin-right: 2em;
  margin-top: 1em;
  border-radius: 35px;
  align-self: flex-end;
}