<div class="container">
  <registration-header headerText="Sign Up Page" logo="placeholder logo url"></registration-header>
  <div class="container row" style="margin: auto">
    <form
      (ngSubmit)="handleSignUp(signUpFormData)" #signUpFormData="ngForm">
      <div class="input-group">
        <!-- Signup as Customer -->
        <span class="input-group-addon">
          Signup as a Customer
          <input
            class="form-control"
            name="type"
            type="radio"
            checked="checked"
            [value]="1"
            [(ngModel)]="userInformationData.type"
            (change)="clearForm()"
          >
        </span>
        <!-- Signup as Stylist -->
        <span class="input-group-addon">
          Sign up as a Stylist
          <input
            class="form-control"
            name="type"
            type="radio"
            [value]="0"
            [(ngModel)]="userInformationData.type"
            (change)="clearForm()"
          >
        </span>
      </div>
      <username-password (onInputsChange)="handleAccountInput($event)"></username-password>
      <signup-stylist-form
        *ngIf="this.userInformationData.type===0"
        (handleStylistFormChange)="handleStylistInput($event)"
        [styling]="styling"
      >
      </signup-stylist-form>
      <button type="submit">Register</button>
    </form>
  </div>
</div>
