<customer-navbar></customer-navbar>
<h1>Appointments</h1>

<div *ngIf="profile.type===1">
  <button [routerLink]="['/home']">Find Stylist</button>

  <h2>Confirmed</h2>
  <div
    *ngFor="let confirmedBooking of profile.confirmedBookings; let i = index"
    class="booking-confirmed"
  >
    <booking
      [name]="confirmedBooking.name"
      [image_url]="confirmedBooking.image_url"
      [time]="confirmedBooking.time"
      [phoneNumber]="confirmedBooking.phonenumber"
      [location]="confirmedBooking.location"
    >
    </booking>
  </div>

  <h2>Awaiting Payment</h2>
  <div *ngFor="let dueBooking of profile.dueBookings; let i = index">
    <booking
      [name]="dueBooking.name"
      [image_url]="dueBooking.image_url"
      [time]="dueBooking.time"
      [phoneNumber]="dueBooking.phonenumber"
      [location]="dueBooking.location"
    >
    </booking>
    <payment-input
      (handleProcessedPayment)="payBooking(dueBooking.id, i)"
      [stylistName]="dueBooking.name"
    >
    </payment-input>
  </div>

  <h2>Pending</h2>
  <div
    *ngFor="let pendingBooking of profile.pendingBookings; let i = index"
    class="booking-confirmed"
  >
    <booking
      [name]="pendingBooking.name"
      [image_url]="pendingBooking.image_url"
      [time]="pendingBooking.time"
      [phoneNumber]="pendingBooking.phonenumber"
      [location]="pendingBooking.location"
    >
    </booking>
    <button (click)="deleteBooking(pendingBooking.id, i)">Reject</button>
  </div>
</div>

<div *ngIf="profile.type===0">
  <button [routerLink]="['/stylisthome']">Find Stylist</button>

  <h2>Confirmed</h2>
  <div
    *ngFor="let confirmedBooking of profile.confirmedBookings; let i = index"
    class="booking-confirmed"
  >
    <booking
      [name]="confirmedBooking.name"
      [image_url]="confirmedBooking.image_url"
      [time]="confirmedBooking.time"
      [phoneNumber]="confirmedBooking.phonenumber"
      [location]="confirmedBooking.location"
    >
    </booking>
  </div>

  <h2>Awaiting Payment</h2>
  <div *ngFor="let dueBooking of profile.dueBookings">
    <booking
      [name]="dueBooking.name"
      [image_url]="dueBooking.image_url"
      [time]="dueBooking.time"
      [phoneNumber]="dueBooking.phonenumber"
      [location]="dueBooking.location"
    >
    </booking>
    <button>Request Payment</button>
  </div>

  <h2>Pending</h2>
  <div
    *ngFor="let pendingBooking of profile.pendingBookings; let i = index"
    class="booking-confirmed"
  >
    <booking
      [name]="pendingBooking.name"
      [image_url]="pendingBooking.image_url"
      [time]="pendingBooking.time"
      [phoneNumber]="pendingBooking.phonenumber"
      [location]="pendingBooking.location"
    >
    </booking>
    <button (click)="confirmBooking(pendingBooking.id, i)">Confirm</button>
    <button (click)="deleteBooking(pendingBooking.id, i)">Reject</button>
  </div>
</div>
