<div class="componentWrapper">
  <registration-header headerText="Login Page"></registration-header>
  <div class="loginWrapper">
    <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
    <form (ngSubmit)="handleLogin(f)" #f="ngForm">
      <label><h1>Login</h1></label>
      <label>Username</label>
        <input
          type="text"
          id="username"
          ngModel
          name="username">
      <br>
      <label>Password</label>
        <input
          type="password"
          id="password"
          ngModel
          name="password">
      <br>
      <div>
        <button
          [routerLink]="['/signupuser']"
        >User Signup</button>
        <button
          type="submit"
        >Login</button>
      </div>
    </form>
  </div>
</div>