<div class="componentWrapper">
  <registration-header class="header" headerText="Login Page"></registration-header>
  <div class="loginWrapper">
    <div class="flexItem">
      <p>At It's Cut Time, we aim to offer a clean and intuitive communication platform for hairstylists and consumers. If you are looking for haircare at your doorstep, we are excited to introduce tools that you can use for free! After matching with a stylist, you can reachout to them via our integrated messaging service and set-up an appointment with them. If you are a stylist, we offer you the tools to manage your appointments efficiently. Chat with customers easily using our massaging system to ensure their experience is always improved upon. Payments are processed through Stripe for hassle-free direct deposits.
       </p>
    </div>
    <div class="flexItem loginButtons">
      <form (ngSubmit)="handleLogin(f)" #f="ngForm">
        <h5>Username</h5>
          <input
            type="text"
            id="username"
            ngModel
            name="username">
        <br>
        <h5>Password</h5>
          <input
            type="password"
            id="password"
            ngModel
            name="password">
        <br>
        <div class="btnContainer">
          <button
            type="submit"
          >Sign In</button>
        </div>
      </form>
    </div>
  </div>
  <a [routerLink]="['/signupuser']">Create Account</a>
</div>