.componentWrapper {
  display: flex;
  flex-direction: column;
  background-image: url('http://cdn.wallpapersafari.com/44/5/HQjIBU.jpg');
  height: 100vh;
}

.header {
  height: 25%;
  padding-top: 10em;
  margin-left: 2em;
  margin-right: 2em;
  width: 85%;
  align-self: center;
}

.loginWrapper {
  display: flex;
  flex-direction: row;
  margin-left: 2em;
  margin-right: 2em;
  height: 35vh;
  width: 85%;
  align-self: center;
  justify-content: center;
  align-items: center;
}

.flexItem {
  flex: 1 1 49%;
  height: 100%;
  width: 50%;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginButtons {
  background: rgba(255,255,255,0.4);
  padding: 1em;
  padding-left: 6em;
  padding-right: 6em;
  height: 85%;
  border-radius: 10px;
}

.flexItem * > {
  flex: 1 1;
  margin-top: 1em;
}

.btnContainer {
  display: flex;
  justify-content: flex-end;
  height: 85%;
}

p {
  margin-right: 2em;
}

button {
  background-color: #F9B71A;
  width: 60%;
  border-radius: 20px;
  margin-top: 1em;
}

a {
  align-self: flex-end;
  margin-right: 14em;
  color: #F9B71A;
  border-bottom: 1px solid #F9B71A;
}

a:hover {
  color: white;
}
