<div class="componentWrapper">
  <customer-navbar></customer-navbar>

  <!-- Customer Landing -->
  <div *ngIf="profile.type===1">
    <div class="apptContainer">
      <h2>Appointments</h2>
      <button [routerLink]="['/home']">Find Stylist</button>
    </div>

    <div class="confirmedContainer">
      <h4>Confirmed</h4>
      <div *ngIf="profile.confirmedBookings.length === 0 || !profile.confirmedBookings">
        <p>You don't have any confirmed booking.</p>
      </div>
      <div
        *ngFor="let confirmedBooking of profile.confirmedBookings; let i = index"
        class="booking-confirmed"
      >
        <booking class="booking"
          [name]="confirmedBooking.name"
          [image_url]="confirmedBooking.image_url"
          [time]="confirmedBooking.time"
          [phoneNumber]="confirmedBooking.phonenumber"
          [location]="confirmedBooking.location"
          [isCancel]="true"
          [isConfirmed]="true"
          (handleCancel)="cancelBooking(confirmedBooking.id, i)"
          (handleComplete)="completeBooking(confirmedBooking.id, i)"
        >
        </booking>
      </div>
    </div>

    <div class="awaitingContainer">
      <h4>Awaiting Payment</h4>
      <div *ngIf="profile.dueBookings.length === 0 || !profile.dueBookings">
        <p>You don't have any booking awaiting payment.</p>
      </div>
      <div *ngFor="let dueBooking of profile.dueBookings; let i = index">
        <booking
          [name]="dueBooking.name"
          [image_url]="dueBooking.image_url"
          [time]="dueBooking.time"
          [phoneNumber]="dueBooking.phonenumber"
          [location]="dueBooking.location"
          [isPay]="true"
          [stylistName]="dueBooking.name"
          [bookingId]="dueBooking.id"
          (handlePay)="payBooking(dueBooking.id, i)"
        >
        </booking>
      </div>
    </div>

    <div class="pendingContainer">
      <h4>Pending</h4>
        <div *ngIf="profile.pendingBookings.length === 0 || !profile.pendingBookings">
          <p>You don't have any pending booking.</p>
        </div>
      <div
        *ngFor="let pendingBooking of profile.pendingBookings; let i = index"
        class="booking-confirmed"
      >
        <booking
          [name]="pendingBooking.name"
          [image_url]="pendingBooking.image_url"
          [time]="pendingBooking.time"
          [phoneNumber]="pendingBooking.phonenumber"
          [location]="pendingBooking.location"
          (handleCancel)="declineBooking(pendingBooking.id, i)"
          [isCancel]="true"
        >
        </booking>
      </div>
    </div>

    <div class="pendingContainer">
      <h4>History</h4>
      <div
        *ngFor="let historyBooking of profile.historyBookings; let i = index"
        class="booking-confirmed"
      >
        <booking
          [name]="historyBooking.name"
          [image_url]="historyBooking.image_url"
          [time]="historyBooking.time"
          [phoneNumber]="historyBooking.phonenumber"
          [location]="historyBooking.location"
          (handleClearHistory)="clearHistory(historyBooking.id, i)"
          [isHistory]="true"
        >
        </booking>
      </div>
    </div>
  </div>

  <!-- Stylist Landing -->
  <div *ngIf="profile.type===0">
    <div class="confirmedContainer">
      <h4>Confirmed</h4>
        <div *ngIf="profile.confirmedBookings.length === 0 || !profile.confirmedBookings">
          <p>You don't have any confirmed booking.</p>
        </div>
      <div
        *ngFor="let confirmedBooking of profile.confirmedBookings; let i = index"
        class="booking-confirmed"
      >
        <booking
          [name]="confirmedBooking.name"
          [image_url]="confirmedBooking.image_url"
          [time]="confirmedBooking.time"
          [phoneNumber]="confirmedBooking.phonenumber"
          [location]="confirmedBooking.location"
          (handleCancel)="cancelBooking(confirmedBooking.id, i)"
          (handleComplete)="completeBooking(confirmedBooking.id, i)"
          [isReady]="true"
          [isCancel]="true"
        >
        </booking>
      </div>
    </div>

    <div class="awaitingContainer">
      <h4>Awaiting Payment</h4>
        <div *ngIf="profile.dueBookings.length === 0 || !profile.dueBookings">
          <p>You don't have any booking awaiting payment.</p>
        </div>
      <div *ngFor="let dueBooking of profile.dueBookings; let i = index">
        <booking
          [name]="dueBooking.name"
          [image_url]="dueBooking.image_url"
          [time]="dueBooking.time"
          [phoneNumber]="dueBooking.phonenumber"
          [location]="dueBooking.location"
          (handleCancelComplete)="cancelPayment(dueBooking.id, i)"
          [isCancelComplete]="true"
        >
        </booking>
      </div>
    </div>

    <div class="pendingContainer">
      <h4>Pending</h4>
        <div *ngIf="profile.pendingBookings.length === 0 || !profile.pendingBookings">
          <p>You don't have any pending booking.</p>
        </div>
      <div
        *ngFor="let pendingBooking of profile.pendingBookings; let i = index"
        class="booking-confirmed"
      >
        <booking
          [name]="pendingBooking.name"
          [image_url]="pendingBooking.image_url"
          [time]="pendingBooking.time"
          [phoneNumber]="pendingBooking.phonenumber"
          [location]="pendingBooking.location"
          (handleDecline)="declineBooking(pendingBooking.id, i)"
          (handleAccept)="acceptBooking(pendingBooking.id, i)"
          [isConfirmed]="true"
          [isAccept]="true"
        >
        </booking>
      </div>
    </div>

    <div class="pendingContainer">
      <h4>History</h4>
      <div
        *ngFor="let historyBooking of profile.historyBookings; let i = index"
        class="booking-confirmed"
      >
        <booking
          [name]="historyBooking.name"
          [image_url]="historyBooking.image_url"
          [time]="historyBooking.time"
          [phoneNumber]="historyBooking.phonenumber"
          [location]="historyBooking.location"
          (handleClearHistory)="clearHistory(historyBooking.id, i)"
          [isHistory]="true"
        >
        </booking>
      </div>
    </div>
</div>


