<div *ngIf="!!isBookingNameFetched">
  <div *ngIf="bookingInformation.isconfirmed===1">
    **color this div green, booking has been confirmed** {{bookingInformation.name}} at time: {{bookingInformation.time}} at location: {{bookingInformation.location}}
  </div>
  <div *ngIf="bookingInformation.isconfirmed===0">
    **color this div red, booking has not been confirmed**{{bookingInformation.name}} at time: {{bookingInformation.time}} at location: {{bookingInformation.location}}
    <button (click)="confirmBooking()">Confirm this booking</button>
    <button (click)="deleteBooking()">Delete this booking</button>
  </div>
</div>