.componentWrapper {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  border: 2px solid red;
}

.subHeader {
  height: 18%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subHeader > * {
  margin-left: 2em;
  margin-right: 2em;
}

.buttonContainer {
  flex: 1 1 50%;
  display: flex;
  justify-content: flex-end;
}
.buttonContainer button {
  background-color: #F9B71A;
  color: #ffffff;
  border-radius: 20px;
  width: 21%;
  margin-right: 6em;
}

.profileContainer {
  height: 75%;
  display: flex;
}

.profileImage {
  margin-top: 2em;
  width: 70%;
  height: 65%;
}
.userInfoContainer {
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #F9B71A;
  border-bottom: 1px solid black;
  flex: 1 1 50%;
  height: 50%;
  width: 95%;
  margin-bottom: 1em;
  margin-left: 1em;
}

.userInfo {
  flex: 1 1 50%;
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  margin-left: 3em;
}

.aboutMeContainer {
  flex: 1 1 70%;
}

.aboutMeContainer > * {
  margin-left: 2em;
  margin-top: 2em;
  width: 90%;
}

.glyphicon-question-sign {
  color: #F9B71A;
  border: 1px solid #F9B71A;
  background-color: #ffffff;
}
