<div class="componentWrapper">
  <customer-navbar [customerId]="customerId"></customer-navbar>
  <div class="subHeader">
    <h2>My Profile</h2>
    <div class="buttonContainer">
      <button (click)="toggleModal()">Edit Account Info</button>
      <button (click)="handleDeleteAccount()">Delete my account</button>
    </div>
  </div>

   <div class="profileContainer">
    <div class="userInfoContainer">
      <div class="imageContainer">
        <img class="profileImage" [src]="profile.url" />
        <h3>{{profile.name}}</h3>
      </div>

      <div class="userInfo">
        <h5><span class="glyphicon glyphicon-question-sign"></span> {{ profile.billingaddress }}</h5>
        <h5><span class="glyphicon glyphicon-question-sign"></span> {{profile.site_url}}</h5>
        <h5><span class="glyphicon glyphicon-question-sign"></span> {{profile.phonenumber }}</h5>
      </div>
    </div>
    <div class="aboutMeContainer">
      <div>
        <h4>About Me</h4>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </div>
    </div>
  </div>
</div>








<!--


<div class="modalWrapper" [style.display]="getStyle()">
  <div class="bigWrapper">
    <div class="miniWrapper">
      <span (click)="toggleModal()">&times;</span>
      <form class="modalContent" (ngSubmit)="handleSaveChanges(form)" #form="ngForm">
        <legend>User Info</legend>
        <h4>Username: {{profile.name}}</h4>
          <input type="text" name="username" ngModel id="username"/>
          <br/>
        <h4>Password: *********</h4>
          <input type="password" name="password" ngModel id="password"/>
          <br/>
        <h4>Email: {{profile.email}}</h4>
          <input type="email" name="email" ngModel id="email" />
          <br/>
        <h4>Phone Number: {{profile.phonenumber}}</h4>
          <input name="phonenumber" ngModel id="phonenumber">
          <br/>
        <h4>Personal Website: {{profile.site_url}}</h4>
          <input type="url" ngModel name="site_url">
          <br/>
        <h4>Billing Address: {{profile.billingaddress}}</h4>
          <input type="text" ngModel name="billingaddress">
          <br/>
        <h4>Upload Profile Photo</h4>
          <input type="file" ngModel name="image_url">
          <br />
        <div>
          <button type="submit" (click)="handleSaveChanges(form)">
            Save changes
          </button>
        </div>
      </form>
    </div>
  </div>
</div> -->