h1 {
  border-bottom: 2px solid black;
}

.poppaDiv {
  border: 2px solid red;
  display: flex;
  width: 100%;
  height: 100%;
}

.profileContainer {
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
}

img {
  height: 55%;
  border-radius: 50px;
}

.billingAddressContainer {
  flex: 1 1 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 1em;
  margin: 1em;
}

.userInfoContainer {
  flex: 1 1 60%;
  padding: 1em;
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
}


.buttonContainer2 {
  flex: 1 1 9%;
  padding: 1em;
  margin: 1em;
  border-left: 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

input {
  background-color: #d3d3d3;
}